// Colors
$nav-color: #f78888;
$nav-color-darker: #6f2232;
$nav-color-title: #1a1a1d;

// Fonts
$font-title: Fugaz One, cursive;
// font-family: 'Fugaz One', cursive;
// font-family: 'Boogaloo', cursive;
