// Colors
$nav-color: #ee4c7c;
$nav-color-darker: #5d001e;
$nav-color-title: #1a1a1d;

// Fonts
$font-title: Fugaz One, cursive;
// font-family: 'Fugaz One', cursive;
// font-family: 'Boogaloo', cursive;
