.solver{
    display: flex;
    flex-direction: column;
    background-color: rgba(196, 195, 195, 0.5);
    width: 80%;
    margin-top: 5px;
    box-shadow: 3px 3px 2px rgb(0, 0, 0, 0.2);
    height: 92%;
}

.solver-title {
    padding: 8px;
    display: flex;
    justify-content: center;
    margin-top: 0px;
    font-size: 30px;
    letter-spacing: 1px;
    background-color: rgb(159, 153, 153);
    /* color: green; */
}

